<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372712600434-3odhgee86iqkbrpmqlo3ir42maag6qck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372712600434-3odhgee86iqkbrpmqlo3ir42maag6qck</string>
	<key>API_KEY</key>
	<string>AIzaSyDR7ThCsHlpThIDqsd0-zh4lWp8NaPbL3I</string>
	<key>GCM_SENDER_ID</key>
	<string>372712600434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.try.School-App</string>
	<key>PROJECT_ID</key>
	<string>technovation-try</string>
	<key>STORAGE_BUCKET</key>
	<string>technovation-try.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372712600434:ios:e8de81b3023252894663eb</string>
	<key>DATABASE_URL</key>
	<string>https://technovation-try.firebaseio.com</string>
</dict>
</plist>